<div class="container" style="margin-top: 15px;"> Arquivo TXT: 
  <button (click)="baixarArquivo(0)" class="btn btn-outline-success">Baixar Arquivo</button>
  <button (click)="abrirArquivo(0)" class="btn btn-outline-secondary">Abrir Arquivo</button>
</div>

<div class="container" style="margin-top: 15px;"> Arquivo IMG: 
  <button (click)="baixarArquivo(1)" class="btn btn-outline-success">Baixar Arquivo</button>
  <button (click)="abrirArquivo(1)" class="btn btn-outline-secondary">Abrir Arquivo</button>
</div>

<div class="container" style="margin-top: 15px;"> Arquivo PDF:
  <button (click)="baixarArquivo(2)" class="btn btn-outline-success">Baixar Arquivo</button>
  <button (click)="abrirArquivo(2)" class="btn btn-outline-secondary">Abrir Arquivo</button>
</div>

<div class="container" style="margin-top: 15px;"> Arquivo DOCX: 
  <button (click)="baixarArquivo(3)" class="btn btn-outline-success">Baixar Arquivo</button>
  <button (click)="abrirArquivo(3)" class="btn btn-outline-secondary">Abrir Arquivo</button>
</div>

<div class="container" style="margin-top: 15px;"> Arquivo XLSX: 
  <button (click)="baixarArquivo(4)" class="btn btn-outline-success">Baixar Arquivo</button>
  <button (click)="abrirArquivo(4)" class="btn btn-outline-secondary">Abrir Arquivo</button>
</div>

